{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}

    <div>Войти на сайт</div>
    <br>
    <div>
        {% if form.errors %}
            <div>
                Имя пользователя и пароль не совпадают. Введите правильные данные.
            </div>
        {% endif %}

        <div role="alert">
            Пожалуйста, авторизуйтесь.
        </div>
        <br>

        <form method="post" action="{% url "login" %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ form.as_p }}
            <button type="submit">
                Войти
            </button>
        </form>
    </div>

{% endblock %}
